# Data Science Tools and Ecosystem

Some of the commonly used libraries used by Data Scientists include:
1. Python
2. R
3. SQL

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Explore fundamental concepts of programming.
- Learn basic syntax and usage of a programming language.
- Understand the principles of data manipulation and analysis.
- List popular languages for Data Science.
- Gain hands-on experience with coding exercises and examples

|Data Science Tools|
|-------------------|
|Jupyter Notebook|
|RStudio|
|VS Code with Python|

Some of the commonly used libraries used by Data Scientists include:

1. **NumPy** 
2. **Pandas** .

3. **Matplotlib**

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60.
hours = 200 / 60
print(hours)

3.3333333333333335

## Author

Prajwal Matsagar